
    	body{
            background-color: #E6E6FA;
            text-align: center
        }
        
        h1 {
            font-size: 40px;
            color: #6495ED;
            margin-bottom: 16px;
        }

        a.button {
            display: inline-block;
            margin-top: 16px;
            padding: 14px 24px;
            background-color: #6495ED;
            color: white;
            text-decoration: none;
            font-weight: bold;
            border-radius: 18px;
            font-size: 15px;
        }
        
        a.button:hover {
            background-color: #3d51d4;
        }
        
        p {
            color: #6B8E23
        }
        
        header{
            background-color: #F5F5DC
        }
        
        header a{
            text-decoration: none;
        }
        
        header a:hover{
            text-decoration: underline;
        }
        
        header li{
            display: inline;
            margin-right: 8vw;
        }
        
        header ul{
            position: absolute
            right: 5vw;
            top: 0;
            bottom: 5vw;
        }
        
        footer {
            background-color: #F5F5DC
        }
        
        footer a{
            text-decoration: none;
        }
        
        footer a.hover{
            text-decoration: underline
        }